@charset "utf-8";

/* 為了方便瞭解而加上顏色 */
ul {
  border: 4px solid #e8cca9;
}
ul li {
  background-color: #efefef;
  border: 1px solid #ed7a92;
  color: #111111;
}

/* 以下是彈性盒子的練習 */
ul {
  display: flex;
}